<!doctype html>
<html>
<head>
    <title>Radical</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body class="first">

<h1 class="top"> Radical</h1>

<header class="indexHeader">
  <nav>
    <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span>Home</a>

  <section class="logins">

    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Client Signup</a>
    <a href="/clientsignup" class="btn btn-default"><span class="fa fa-user"></span>User Signup</a>

   </section>

  </nav>
</header>

     <img id="crew" src="img/diverse.jpg" alt="diverse">

      <section  id="hold">
        <h2>About Us</h2>
      </section>

<footer></footer>



</body>
</html>
