<%- include('head'); -%>

<%- include('nav'); -%>



<!-- <form action="/home" enctype="multipart/form-data" method="post">
  <fieldset>
    <legend>General Information</legend>
    <div class="form-group row">
      <label for="firstname">First Name</label>
      <input type="text" class="form-control" name="firstname" placeholder="First Name">
    </div>
    <div class="form-group row">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" name="lastname" placeholder="Last Name">
    </div>
    <div class="form-group row">
      <label for="orgname">Org/Company Name</label>
      <input type="text" class="form-control" name="organization " placeholder="Org/Company">
    </div>
    <div class="form-group row d-flex flex-column">
    <label for="file-to-upload">Profile Picture</label>
     <input type="file" name="file-to-upload">
    </div>

<legend>Who You Are</legend>

<div class="form-group form-group-lg">
<div class="custom-control custom-radio">
  <input type="radio" name="who" id="customRadio1"class="custom-control-input" checked="" value="Org/Co">
  <label class="custom-control-label" for="customRadio1">Org/Company</label>
</div>
<div class="custom-control custom-radio">
  <input type="radio" name="who" id="customRadio2"class="custom-control-input" value="User">
  <label class="custom-control-label" for="customRadio2">User</label>
</div>
</div>

<textarea name="description" rows="8" cols="80"></textarea>


<button type="submit" class="btn btn-warning btn-default btn-block" value="Upload" id="finish">Finish</button>
</form>

</div>-->



<% if (user.local.organization) { %>

<div class="container z-depth-1 my-5 px-0">

  <!--Section: Content-->
  <section class="p-5 my-md-5 text-center"
    style="background-image: url(https://mdbootstrap.com/img/Photos/Others/background2.jpg); background-size: cover; background-position: center center;">

    <!-- Section heading -->
    <h3 class="text-center font-weight-bold text-white mt-5 mb-3">Welcome</h3>
    <!-- Section description -->
    <h4 class="text-center font-weight-normal text-white mx-auto mb-4 pb-2">Let's Create Your Profile! </h4>

    <form class="mb-5 mx-md-5" action="/home" method="post" enctype="multipart/form-data">

      <div class="row">
        <div class="col-md-4 mb-4">

          <!-- First Name -->
          <input type="text" id="name" class="form-control mb-4" name="firstname" placeholder="First Name">

        </div>
        <div class="col-md-4 mb-4">

          <!-- Last Name -->
          <input type="text" id="name" class="form-control mb-4" name="lastname" placeholder="Last Name">

        </div>
        <div class="col-md-4 mb-4">

          <!--Org/Company -->
          <input type="text" id="email" class="form-control mb-4" name="organization " placeholder="Org/Company">

        </div>

        <textarea name="description" class="form-control rounded" id="message" rows="3" placeholder="Tell us about Yourself"></textarea>



      <!-- File Upload -->

      <!-- <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>
        <div class="custom-file">
          <input type="file" name="file-to-upload" class="custom-file-input" id="inputGroupFile01"
          aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01">Profile Picture</label>
        </div>
      </div> -->


      <label for="file-to-upload">Profile Picture</label>
       <input type="file" name="file-to-upload">



      <div class="row">
        <div class="col-md-12">

          <div class="text-center">
            <button type="submit" class="btn btn-elegant"> Submit</button>
          </div>

        </div>
      </div>


    </form>

  </section>
  <!--Section: Content-->
</div>

<% } else { %>

  <div class="container z-depth-1 my-5 px-0">

    <!--Section: Content-->
    <section class="p-5 my-md-5 text-center"
      style="background-image: url(https://mdbootstrap.com/img/Photos/Others/background2.jpg); background-size: cover; background-position: center center;">

      <!-- Section heading -->
      <h3 class="text-center font-weight-bold text-white mt-5 mb-3">Welcome</h3>
      <!-- Section description -->
      <h4 class="text-center font-weight-normal text-white mx-auto mb-4 pb-2">Let's Create Your Profile! </h4>

      <form class="mb-5 mx-md-5" action="/home" method="post" enctype="multipart/form-data">

        <div class="row">
          <div class="col-md-4 mb-4">

            <!-- First Name -->
            <input type="text" id="name" class="form-control mb-4" name="firstname" placeholder="First Name">

          </div>
          <div class="col-md-4 mb-4">

            <!-- Last Name -->
            <input type="text" id="name" class="form-control mb-4" name="lastname" placeholder="Last Name">

          </div>

        </div>

        <!-- File Upload -->
        <label for="file-to-upload">Choose a Profile Picture</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
          </div>
          <div class="custom-file">
            <input  type="file" name="file-to-upload" class="custom-file-input" id="inputGroupFile01"
            aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <div class="form-group mb-4">
              <textarea name="description" class="form-control rounded" id="message" rows="3" placeholder="Tell us about Yourself"></textarea>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-elegant">Submit</button>
            </div>

          </div>
        </div>


      </form>

    </section>
    <!--Section: Content-->
  </div>

  <% } %>
