<%- include('head'); -%>

<%- include('nav'); -%>

<body id="main">

      <section class="dark-grey-text">

        <!-- Section heading -->
        <h1 class="text-center font-weight-bold mb-4 pb-2">Recent News</h1>
        <!-- Section description -->
         <p class="text-center mx-auto w-responsive mb-5">Stay up to date on the most recent news regarding the immigrant community!</p>

        <!-- <div class="row align-items-center"> -->
          <ul id="articles"></ul>

      </section>


<%- include('footer'); -%>
