<!doctype html>
<html>
<head>
    <title>Radical</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body id="main">
 <div class="container-fluid">

    <!--Navbar -->
    <nav>

      <a href="/profile">Home</a>
      <a href="/resources">Organizations</a>
      <a href="/updates">News</a>
      <a href="/forms">Forms</a>
      <a href="/contact">Connect</a>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      <div id="google_translate_element"></div>

    </nav>
  <!--/.Navbar -->


    <!-- <div class="row">

         LOCAL INFORMATION
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div> -->

      <section class="news">
        <h1>Most Recent News</h1>
      </section>

      <section>
        <ul id="articles">

        </ul>
      </section>

    </div>


<script src="main.js"></script>
<script>function googleTranslateElementInit() {
new google.translate.TranslateElement({
pageLanguage: 'en'
}, 'google_translate_element');
}</script>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>
