body{
  padding-top:30px;
  word-wrap:break-word;
}
/* .jumbotron{
  background-color:white;
  width: 70%;
  height: 500px;
  margin-left: 80%;
} */
/* #profileForm{
  width: 85%;
  height: auto;
  margin-left: 10%;
  padding: 5%;
  color: rgb(17,68,44);
  border: 2px solid rgb(17,68,44);
  background-color: rgba(250,234, 207,50%);
} */
/* #nav{
  background-color: rgb(17,68,44);
  text-align: center;
  color: white;
  width: 100%;
  height: 100px;
} */
/* .uploadForm, #formUp, .formessages{
  width:70%;
  height: auto;
  margin-left: 10%;
  margin-top: 10%;
}
#forms{
  width: 80%;
  height: auto;
  margin-left: 10%;
  padding-bottom: 5%;
  border: 2px solid rgb(17,68,44);
}
#sign{
  background-color:white;
  width: 60%;
  height: 865px;
  margin-left: 20%;
}
#cointainer{
  background-color:white;
  width: 40%;
  height:400px;
  margin-left: 32%;
}

 .login, .sign{
  background-image: url('https://data.whicdn.com/images/180851656/original.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} */

 #articles{
margin-top: 0;
margin-bottom: 10px;
list-style: none;
}

/*--------------------------------Navigation--------------------------------*/
.navbar {
  background: linear-gradient(40deg, rgba(0,51,199,.3), rgba(209,149,249,.3));
}
.navbar:not(.top-nav-collapse) {
  background: transparent;
}
.navbar .navbar-brand img {
  height: 40px;
  margin: 10px;
}
.hm-gradient {
  background: linear-gradient(40deg, rgba(0,51,199,.3), rgba(209,149,249,.3));
}
.heading {
  margin: 0 6rem;
  font-size: 3.8rem;
  font-weight: 700;
  color: #5d4267;
}
.subheading {
  margin: 2.5rem 6rem;
  color: #bcb2c0;
}
.btn.btn-margin {
  margin-left: 6rem;
  margin-top: 3rem;
}
.btn.btn-lily {
  background: linear-gradient(40deg, rgba(0,51,199,.7), rgba(209,149,249,.7));
  color: #fff;
}
.title {
  margin-top: 6rem;
  margin-bottom: 2rem;
  color: #5d4267;
}
.subtitle {
  color: #bcb2c0;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 6rem;
}
#title{
  font-size: 80px;
  font-weight: bold;
  color: rgb(30,171,241);
}
#topImg{
  height: 60px;
  max-width: 60px;
}
#topImg2{
  height: 150px;
  max-width: 150px;
}
