body{
  padding-top:30px;
  word-wrap:break-word;
}
/* .jumbotron{
  background-color:white;
  width: 70%;
  height: 500px;
  margin-left: 80%;
} */
#sign{
  background-color:white;
  width: 60%;
  height: 865px;
  margin-left: 20%;
}
#cointainer{
  background-color:white;
  width: 40%;
  height:400px;
  margin-left: 32%;
}

 .login, .sign{
  background-image: url('https://data.whicdn.com/images/180851656/original.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
nav{
  width: 100%;
  height: 100px;
  margin-left: 7%;
  text-decoration: none;
}
nav > a{
  float: left;
  margin-left: 4%;
}
nav >form{
  width: 30%;
  float: left;
  margin-left: 4%;
}
nav > section{
  width: 30%;
  float: left;
}
h2{
  font-size: 20px;
  font-family: sans-serif;
}
.resource{
  border-top: 2px solid black;
  margin-top: 3%;
}
.resources{
  width: 90%;
  margin-left: 5%;
  border: 1px solid black;
  padding: 2%;
}
h1{
  text-align: center;
}
.contact{
  width: 90%;
  margin-left: 5%;
}
#articles{
margin-top: 0;
margin-bottom: 10px;
list-style: none;
}
.spacer{
  padding-top: 3%;
}
.goog-te-gadget img {
    vertical-align: middle;
    border: none;
    display: none;
}
/* INDEX.EJS STYLING */
.first{
  background-color: rgba(250,234,207,60%);
  width: 93%;
}
.indexHeader{
  height: 80px;
  width: 100%;
}
.logins{
  margin-left: 52%;
}
.top{
  color: rgb(17,68,44);
  font-family:serif;
  font-size: 100px;
}
#crew{
  height: 350px;
  width: 38%;
  margin-left: 8%;
}
#hold{
  width: 54%;
  height: 350px;
  float: right;
  border: 1px solid black;
  background-color:  white;
}
